include LICENSE MANIFEST MANIFEST.in README openmolar INSTALL.txt
recursive-include bin *.svg *.desktop
recursive-include src/openmolar/resources *.qrc *.xsd *.xml *.css *.sql *.svg *.png 
recursive-include src/openmolar/locale *.po *.pot
recursive-include src/openmolar/qt-designer *.ui
recursive-include src/openmolar/resources *.xml *.png *.svg *.sql *.css *.qrc
recursive-include src/openmolar/resources/icons *.png *.svg *.ico
recursive-include src/openmolar/resources/teeth *.png
recursive-include src/openmolar/resources/gp17 *.jpg
recursive-include src/openmolar/resources/gp17-1 *.png
recursive-include src/openmolar/resources/feescales *.xml *.xsd
recursive-include src/openmolar/resources/phrasebook *.xsd
