/*-- stylesheet for openmolar - written by Neil Wallace modified 30/6/2009 --*/

body{background-color:#ffffff;}

.ops{font-size:12pt;}
.notes{font-size:13pt;}

/*-- DIVS --*/
div.center{text-align:center;}

h1,h2,h3,h4{margin:3px;color:#4322a8;}
h1{text-align:center;}
.debt{color:red;}
.ut_label{font-style:italic;color:#99ccff;}

/*-- UNORDERED LISTS --*/
ul{list-style:none;padding-left:0px;}
li{list-style:none;color:blue;padding-left:0px}


/*-- th and td --*/
table{width:100%;}
.date{background-color:#ffeedd}
.ops{background-color:#dddddd;}
.tx{background-color:#aaaaaa}
.notes{background-color:#dddddd;}
.reception{background-color:#eeeeee;}
.verbose{background-color:#ddeeff}
    
th{border-style:solid;background-color:#eeeeee;}

