/*-- style for invernessrowingclub website - written by Neil Wallace October 2007 --*/

body{background-color:#ffffff;}

.ops{font-size:13pt;}
.notes{font-size:14pt;}

/*-- DIVS --*/
div.newstext1{color:black;background-color:#cccccc; padding:10px;}
div.newstext2{color:black;background-color:#eeeeee; padding:10px;}
div.center{text-align:center;}

/*-- links (see also gallery stuff below)--*/
a{color: #005151;}
a:hover{color:#800000;}

h1,h2,h3,h4{margin:3px;color:#4322a8;}
h1{text-align:center;}
.debt{color:red;}

/*-- UNORDERED LISTS --*/
ul{list-style:none;padding-left:0px;}
li{list-style:none;color:blue;padding-left:0px}


/*-- th and td --*/
table{width:100%;}
.date{background-color:#ffeedd}
.ops{background-color:#dddddd;}
.tx{background-color:#aaaaaa}
.notes{background-color:#dddddd;}
.reception{background-color:#eeeeee;}
.verbose{background-color:#ddeeff}
    
th{border-style:solid;background-color:#eeeeee;}

