Source: openmolar
Section: misc
Priority: extra
Maintainer: Neil Wallace <rowinggolfer@googlemail.com>
Build-Depends: python, debhelper (>= 7)
Homepage: http://www.openmolar.com
Vcs-browser: https://code.launchpad.net/openmolar
Standards-Version: 3.9.3

Package: openmolar-orig
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-qt4 (>=4.4.0), python-mysqldb, xdg-utils, python-qscintilla2
Replaces: openmolar
XB-Python-Version: ${python:Versions}
Description: Dental Practice Management Software
 see https://launchpad.net/openmolar for project description and links
 .
 irc channel (for devs and users) is #openmolar on freenode.net
