/*-- stylesheet for openmolar - written by Neil Wallace --*/

body{background-color:#ffffff;}

.ops{font-size:12pt;}
.notes{font-size:13pt;}
.highlighted-app{border:4px solid #ff0000; padding:3px;}


/*-- DIVS --*/
div.center{text-align:center;}

h1,h2,h3,h4,h5,h6{margin:3px;color:#4322a8;}
h1{text-align:center;}
.debt{color:red;}
.ut_label{font-style:italic;color:#99ccff;}

h3.red{color:red;}
li.trt{color:blue;}

/*-- UNORDERED LISTS --*/
ul{list-style:none;padding-left:0px;}
li.about{list-style:none;color:blue;padding-left:0px}

li.recep_note{font-size:9pt;list-style-type:none;padding-left:0px;background-color:#ffeedd;}

li.agenda{font-size:9pt;list-style-type:disk}
li.slot{font-size:9pt;list-style-type:disk;font-style:bold;color:red;background-color:#ffff66;}
li.active_slot{font-size:11pt;list-style-type:circle;font-style:bold;color:red;background-color:#ffff00;}

/* -- reception_notes -- */
.recep_date{font-size:9pt;font-style:bold;background-color:#eeeeee;}

/*-- th and td --*/
table{width:100%;}

.date{background-color:#ffeedd: width:20%}
.ops{background-color:#dddddd; width:10%}
.tx{background-color:#aaaaaa; width:20%}
.notes{background-color:#dddddd; width:50%}
.reception{background-color:#eeeeee;}
.verbose{background-color:#ddeeff}

table.yeartable{width:600pt;}
.yearheader{font-size:16pt;background-color:#eeeeee;font-style:bold;text-align:center;}
.bankholiday{font-size:14pt;background-color:#eeeeee;font-style:bold;font-style:italic;text-align:center;}
.yearops{background-color:#eeeeff;font-size:12pt;text-align:center;}
.yearmemo{background-color:#eeeeff;font-style:italic;font-size:12pt;}

th{border-style:solid;
background-color:#4322a8;
color:#ffffff;}
