h1.header {
color : black;
font-family : serif;
font-style : normal;
font-weight : bold;
text-align : center;
} 
h3.header {
color : black;
font-family : serif;
font-style : normal;
font-weight : bold;
text-align : center;
} 
p.header
{
color : black;
font-family : serif;
font-style : normal;
font-weight : bold;
text-align : center;
} 
p.footer
{
color : blue;
font-family : serif;
font-style : normal;
font-weight : bold;
text-align : center;
} 

#txt img {
border : 2px solid #ffd0a0;
}
#txt img:hover {
border : 2px solid red;
}

table {
width : 100%;
table-layout : auto;
border-spacing : 0;
border : 0;
}
caption {
background-color : yellow;
color : red;
font-weight : bold;
border-spacing : 0;
border : 1px solid black;
}
tr {
background-color : #ffc;
color : blue;
border : 0;
border-spacing : 1px;
text-align : center;
}
td {
background-color : #ffc;
color : black;
border :  1px solid black;
border-spacing : 0;
text-align : center;
}
